/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #073b4c;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: 0.1s;
  backface-visibility: visible;
}

.balloons {
  position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloonOne {
  background-color: rgb(239, 71, 111, 0.7);
  left: -10px;
  top: 50px;
}

.balloonTwo {
  background-color: rgb(6, 214, 160, 0.7);
  left: 50px;
  top: 20px;
}

.balloonThree {
  background-color: rgb(255, 209, 102, 0.7);
  left: 110px;
  top: 50px;
}

.balloonFour {
  background-color: rgb(17, 138, 178, 0.7);
  left: 170px;
  top: 20px;
}

.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #ffd166;
  top: 95px;
  left: 43px;
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloonOne:after {
  border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
  border-bottom: 10px solid #118ab2;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Brush Script MT", cursive;
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left: 150px;
  top: 200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
} */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(#000000, #ff66cc);
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 2s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1),
    0 10px 100px rgba(0, 0, 0, 0.1);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .front-text {
  display: none;
}

.birthdayCard:hover .wrap-deco {
  display: none;
}

.birthdayCard:hover .wrap-decoTwo {
  display: none;
}

.birthdayCard:hover .plate {
  display: none;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
    30px 0 50px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.happy,
.toyou {
  position: relative;
  font-family: didot;
  text-align: center;
  backface-visibility: hidden;
  font-size: 30px;
}

.happy {
  top: 198px;
}

.toyou {
  top: 123px;
}

.bday {
  position: relative;
  font-family: arial;
  font-size: 35px;
  text-align: center;
  top: 163px;
}

.wrap-deco {
  position: absolute;
  top: -230px;
  left: -200px;
}

.decorations {
  position: absolute;
  width: 400px;
  height: 300px;
  border: 3px solid #333;
  border-radius: 50%;
}

.decorations:before,
.decorations:after,
.decorationsTwo:before,
.decorationsTwo:after,
.decorationsThree:before,
.decorationsThree:after {
  content: "";
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 0;
  height: 0;
}

.decorations:before {
  border-top: 40px solid #f15bb5;
  top: 297px;
  left: 210px;
  transform: rotate(-5deg);
}

.decorations:after {
  border-top: 40px solid #f4d35e;
  top: 288px;
  left: 260px;
  transform: rotate(-17deg);
}

.decorationsTwo:before {
  border-top: 40px solid #00f5d4;
  top: 268px;
  left: 315px;
  transform: rotate(-30deg);
}

.decorationsTwo:after,
.decorationsThree:after {
  border-top: 40px solid #9b5de5;
  top: 238px;
  left: 355px;
  transform: rotate(-40deg);
}

.wrap-decoTwo {
  transform: scaleX(-1);
  position: absolute;
  top: -230px;
  left: 445px;
}

.decorationsThree:before {
  border-top: 40px solid #00bbf9;
  top: 268px;
  left: 315px;
  transform: rotate(-30deg);
}

.plate {
  position: absolute;
  width: 130px;
  height: 5px;
  background-color: #00bbf9;
  left: 60px;
  top: 213px;
}

.cake {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 50px;
  background-color: #f15bb5;
  border-radius: 10px 10px 0 0;
  top: -50px;
  left: 15px;
  box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
}

.cake:before {
  content: "";
  position: absolute;
  background-color: #432818;
  width: 10px;
  height: 20px;
  top: 5px;
  border-radius: 20px;
  box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5,
    40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5,
    80px 5px #432818, 90px 5px #f15bb5;
}

.plate:before {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(
    -45deg,
    #9b5de5,
    #9b5de5 3px,
    #00f5d4 3px,
    #00f5d4 6px
  );
  width: 7px;
  height: 25px;
  top: -75px;
  left: 61px;
}

.plate:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #333;
  top: -80px;
  left: 64px;
}

.flame {
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width: 15px;
  height: 15px;
  opacity: 0.7;
  top: -93px;
  left: 57px;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.inside-text {
  position: relative;
  top: -160px;
  transform: scale(0.7);
}

.wishes {
  position: relative;
  top: -100px;
  margin: 25px;
}

p {
  font-family: "Brush Script MT", cursive;
  color: #282525;
}

.name {
  margin-left: 100px;
}
.confettie-wrap {
  padding: 100px;
}
.balloons {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -15%;
}

.balloon {
  display: inline-block;
  width: 100px;
  height: 110px;
  background: hsl(215, 50%, 65%);
  background: rgba(102, 145, 204, 1);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 30px 45px;
  transition: transform 0.5s ease;
  z-index: 2;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: hsl(215, 30%, 50%);
  color: rgba(88, 125, 176, 1);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -13px;
  z-index: -100;
}

.ballon:nth-child(1) {
  box-shadow: inset -10px -10px 0 rgba(88, 125, 176, 1);
}
.balloon:nth-child(2) {
  background: hsl(245, 40%, 65%);
  animation-duration: 3.5s;
}

.balloon:nth-child(2):before {
  color: hsl(245, 40%, 65%);
}

.balloon:nth-child(3) {
  background: hsl(139, 50%, 60%);
  animation-duration: 3s;
}

.balloon:nth-child(3):before {
  color: hsl(139, 30%, 50%);
}

/* .balloon:nth-child(4) {
  background: hsl(59, 50%, 58%);
  animation-duration: 4.5s;
}

.balloon:nth-child(4):before {
  color: hsl(59, 30%, 52%);
}

.balloon:nth-child(5) {
  background: hsl(23, 55%, 57%);
  animation-duration: 5s;
}

.balloon:nth-child(5):before {
  color: hsl(23, 44%, 46%);
}
.balloon:nth-child(6) {
  background: hsl(335, 80%, 56%);
  animation-duration: 5s;
}

.balloon:nth-child(6):before {
  color: hsl(320, 47%, 40%);
}
.balloon:nth-child(7) {
  background: hsl(112, 82%, 44%);
  animation-duration: 5s;
}

.balloon:nth-child(7):before {
  color: hsl(108, 64%, 21%);
}
.balloon:nth-child(8) {
  background: hsl(243, 82%, 38%);
  animation-duration: 5s;
}

.balloon:nth-child(8):before {
  color: hsl(248, 96%, 18%);
}
.balloon:nth-child(9) {
  background: hsl(46, 86%, 72%);
  animation-duration: 5s;
}

.balloon:nth-child(9):before {
  color: hsl(57, 82%, 48%);
} */

