body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eec0c8;
}

.birthdayCard {
  position: relative;
  width: 350px;
  height: 450px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 350px;
  height: 450px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.heart {
  fill: red;
  margin: auto;
  position: relative;
  top: 9px;
  width: 50px;
  animation: pulse 1s ease infinite;
}
.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: 0.1s;
  backface-visibility: visible;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.balloons {
  position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour,
.balloonFive,
.balloonSix {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloonOne {
  background-color: rgb(239, 71, 111, 0.7);
  left: 0px;
  top: 50px;
}

.balloonTwo {
  background-color: rgb(6, 214, 160, 0.7);
  left: 50px;
  top: 20px;
}

.balloonThree {
  background-color: rgb(255, 209, 102, 0.7);
  left: 110px;
  top: 50px;
}

.balloonFour {
  background-color: rgb(17, 138, 178, 0.7);
  left: 165px;
  top: 20px;
}
.balloonFive {
  background-color: #a711b2b3;
  left: 225px;
  top: 50px;
}

.balloonSix {
  background-color: #01ffc4b3;
  left: 265px;
  top: 20px;
}

.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before,
.balloonFive:before,
.balloonSix::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #ffd166;
  top: 95px;
  left: 43px;
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after,
.balloonFive:after,
.balloonSix:after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloonOne:after {
  border-bottom: 5px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 5px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 5px solid #ffd166;
}

.balloonFour:after {
  border-bottom: 5px solid #118ab2;
}
.balloonFive:after {
  border-bottom: 5px solid #a711b2b3;
}
.balloonSix:after {
  border-bottom: 5px solid #01ffc4b3;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 350px;
  height: 450px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: Snell Roundhand, cursive;
  margin: 40px;
  color: #000000;
}

.name {
  position: absolute;
  left: 100px;
  top: 200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}
